[Desktop Entry]
Version=1.0.0
Name=ROS CORE
Comment=I AM ROS CORE
Exec=bash -c 'source /opt/ros/melodic/setup.bash && source ~/catkin_ws/devel/setup.bash --extend && roslaunch turtlebot3_gazebo turtlebot3_world.launch'
Icon=ros_core.png
Terminal=true
Type=Application
Categories=Application;
Name[en_US]=Navi.desktop
